.contenedor {
  display: flex;
    justify-content: center; /* Alineación horizontal */
  align-items: center; /* Alineación vertical */
  height: 90vh; /* Asegúrate de que el contenedor tenga altura */
}

        .gestiones {
          justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            width: 80vmin;
            height: 80vmin;
        }

        .gestion {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
            font-size: 1.5rem;
            // border-style: solid;
            // border-width: 1px;
            border-radius: 5%;
        }

        .alumnado {
          background-color: #ACE7FF;
        }

        .docentes {
          background-color: #FFABAB
        }

        .centros {
          background-color: #BFFCC6        }

        @media (max-width: 600px) {
            .matrix-container {
                grid-template-columns: 1fr;
            }
        }